*{
    margin:0
}

main {
    display:flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.preview {
    background-color: #1c2127;
    width:50%;
    height: 98vh;
    overflow-y: scroll;
    color: whitesmoke;
    font-family: arial;
    line-height: 30px;
    padding: 15px;
    
}

h1 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}



table {
    border: 1px solid white;
}

tr {
    border: 1px solid white;
}

tc {
    border :1px solid white;
}

img {
  width: 80%;
  border-radius:5px;
}

.Markdownie__div--menu{
	position: absolute;
	background-color: #5f616b;
	padding: 10px;
	border-radius: 10%;
	right:10px;
	top :10px;
	transition: 0.1s;

}
.Markdownie__div--dropDown{
    font-family: arial;
	display :none;
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 30px;
	background-color: black;
	padding: 10px;
	border-radius: 5%;
	
}
.Markdownie__div--dropDown>div{
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	border-radius: 10px;
	transition: 0.1s;

}
.Markdownie__div--dropDown>div:hover{
	background-color: #7eafca;
	color: black;

}

.Markdownie__div--menu:hover .Markdownie__div--dropDown {
	display: block;
}
.Markdownie__div--menu:hover  {
	background-color: black;
    color: #7eafca;
}
