.App{
    display: flex;
}
.App__text{
    background-color: rgb(94, 94, 94);
    height: 100vh;
    width: 50vw;
    font-size: 20px;
    color:aliceblue;
    border:none;
}
.App__div--markdowndisplay{

    background-color: rgb(58, 58, 58);
    height: 100vh;
    width:50vw ;
    font-size: 20px;
    color: aliceblue;
    padding:10px;

}
.App__button--save{
    background-color: rgb(46, 46, 46);
    color: aliceblue;
    border: none;
}

h1{
    color: rgb(190, 190, 255);
}
h2{
    color: rgb(173, 180, 230);
}
h3{
    color: rgb(211, 200, 243);
}
h4{
    color:paleturquoise;
}
strong{
    color: pink;
}