.App{
    display: flex;
}
.App__text{
    background-color: darkgray;
    height: 100vh;
    width: 50vw;
    font-size: 20px;
}
.App__div--markdowndisplay{

    background-color: gray;
    height: 100vh;
    width:50vw ;
    font-size: 20px;

}
h1{
    color: rgb(190, 190, 255);
}
h2{
    color: rgb(173, 180, 230);
}
h3{
    color: rgb(211, 200, 243);
}
h4{
    color:paleturquoise;
}
strong{
    color: pink;
}